body div a img
{
    display:none;
}
.title
{
    text-align: center;
    color: #0036a0;
    text-decoration: underline;
    padding: 30px 0px;
} 
.main-div
{
    padding: 100px 0px;
}
#b1
{
    height:636px;
    width: 100%;
    background-color:#94add3
    ;
    padding: 30px;
    display: flex;
    border-radius: 15px;
}
#b2
{
    height: 150px;
    width: 150px;
    background-color: #0036a0;
    border-radius:15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#b2 img
{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
    padding: 10px;
}
.main
{
    width:100%;
}
.input-container
{
    background-color: #d2e1e8;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.input-container input
{
    height: 40px;
    width:100%;
    display: block;
    border: none;
    border-radius: 15px;
    border-bottom:1px solid #00000042;
    background: #f5f5f5ad;
    margin: 10px 0px;
    padding-left: 15px;
}
.input-div
{
background-color: #F5F5F5;
display: flex;
justify-content: center;
align-items: center;
}